<template>
	<div class="inner-item">
		<div class="text">
			<h4>Hello , I'm Ashish Patel</h4>
			<div>
				<div class="columns" style="font-family: Quicksand;">
					<div class="column is-4" style="margin-top:1em;">
						<div class="card">
							<div class="card-image">
								<figure class="image">
									<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/36668211_1859968677429720_5330079209182199808_n.jpg?_nc_cat=0&oh=e16d1afb1677256f161136bd37d6aea2&oe=5BE3D527"  alt="Image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p style="font-family: Quicksand;" class="title is-4">Ashish Patel
										<span class="subtitle is-6"><a href="//twitter.com/ashishpatel0720" target="_blank">@ashishpatel0720</a></span>
									</p>
									</div>
								</div>
								<div class="content">
                                    Technical Analyst at <span class="subtitle is-6"><a href="//twitter.com/DeutscheBank" target="_blank">@DeutscheBank</a></span>, Pune, India.</div>
							</div>
						</div>
					</div>
					<div class="column is-8">
						<p style="margin-top:0.7em;font-family: Quicksand;">
							Hello everybody, I am Ashish Patel,
							I am working as Technical Analyst in <a target='_blank' href="//db.com"> Deutsche Bank.</a>
							<br> I love to learn new technologies and try to find what is interesting happening with these technologies.
                            I love Playing Chess and Cricket and reading as timepass.
						</p>
						<p style="font-family: Quicksand;">
							I have worked on a few Projects on Web Developnment with Backend as PHP, Python; most of them have been develped using some web framework like,
                            <a target='_blank' href="//laravel.com">Laravel</a> or
                            <a target='_blank' href="//codeigniter.com">Codeignitor</a> for PHP and
                            <a target='_blank' href="//flask.pocoo.org">Flask.</a> for Python.<br><br>

                            I came to know that Frameworks forces us to write better and secure code and prevents us from any chaos in future.<br>
                            <br>

                            On frontend side, I have worked with <a target='_blank' href="//vuejs.org">JQuery</a> with some of my Projects and this website is itself made with <a target='_blank' href="//vuejs.org">Vue Javascript Framework</a> and
                            I am also a beginner in <a href="//angular.io" target="_blank">Angular2</a> and <a href="//reactjs.org" target="_blank">React</a>

						</p>
						<p style="font-family: Quicksand;">
							In Desktop App Developnment, I know Java and  I have created Simple Apps like Calculators etc. with <a target='_blank' href="https://en.wikipedia.org/wiki/Swing_(Java)">Java Swing API.</a> and <a target='_blank' href="//docs.oracle.com/javafx">JavaFX API.</a>.
							<br>
							</p>
						<p style="font-family: Quicksand;">
							I have to say  I love Unix(especially Ubuntu and MacOS) , so have some experience in Bash Scripting and Regex(extended PERL based).
							<br>
							I also know basic Programming languages like C, C++, Python and Markups like HTML, CSS.

						</p>
						<p style="font-family: Quicksand;">
							 As Last Note My Internship was in <a target='_blank' href="//carwale.com">CarWale</a> and I have worked on BigData with Scala and Spark Stream Processing.
							and my Minor Project was on Machine Learning with python Scikit-learn library.<br><br>
                            You can always find all projects mentioned above in my <a href="//github.com/ashishpatel0720">Github Account</a> and detailed information for all my projects
                            is also available at <b>Projects </b> section of this website.<br>
                            Please feel free to comment you opinions on any project and contact me for any help on any forum
                            <b>@ashishpatel0720</b>
						</p>
					</div>
				</div>

				<div class="social-icons">
					<div class="wrapper">
						<div class="about">
							<h4 style="margin-bottom:-2em">Find Me</h4>
							<div class="inner-item">
								<div class="our-clients" style="margin:0em;margin:-2em -2em;"> <!--here represent toolbox-->
									<div class="row items owl-carousel" id="owl-social-icons">
										<a target='_blank' href=https://linkedin.com/in/ashishpatel0720><i class="fa fa-linkedin-square fa-3x"></i></a>
										<a target='_blank' href=https://facebook.com/ashishpatel0720 style="color:#3b5998"><i class="fa fa-facebook-square fa-3x"></i></a>
										<a target='_blank' href="mailto:ashishpatel0720@gmail.com" ><i class="fa fa-envelope-o fa-3x"></i></a>
										<a target='_blank' href=https://instagram.com/ashishpatel0720 style="color: #cd486b"><i class="fa fa-instagram fa-3x"></i></a>
										<a target='_blank' href=https://stackoverflow.com/users/6178783/ashish-patel style="color:#f48024"><i class="fa fa-stack-overflow fa-3x"></i></a>
										<a target='_blank' href=https://github.com/ashishpatel0720 style="color:#5d2973"><i class="fa fa-github fa-3x"></i></a>
										<a target='_blank' href=https://twitter.com/ashishpatel0720 style="color:#32cdfd"><i class="fa fa-twitter fa-3x"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    export default {

    }
</script>


<style>
    p{
        padding:0px 20px;
    }

</style>